* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden auto;
    background-color: #000;
}

/* loader css start */
.container-loader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}

.container-loader .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 100%;
    padding: 0 5vw;
}

.container-loader .loader .container-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-center;
    height: 10%;
    width: 100%;
    z-index: 50;
}

.container-loader .loader .container-bar #percent {
    color: white;
    margin: 30px 0 0 0;
    font-size: 15px;
}

.container-loader .loader .container-bar #bar {
    width: 60%;
    width: 0%;
    padding: 1px 0px;
    background-color: white;
}

.container-loader .loader .content-loader-text {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border: 1px solid #342750;
    padding: 10px;
}

.container-loader .loader .content-loader-text h1 {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 12px;
    margin: 0 20px;
    transform: translateY(40%);
    opacity: 0;
    color: #342750;
}

.container-loader .loader .content-loader-text h1:nth-child(3) {
    margin-top: 100px;
}
/* loader css end */

/* .slider {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotateX(0deg) rotateY(-25deg) rotateZ(-120deg);
    transform-style: preserve-3d;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    user-select: none;
}

.card {
    position: relative;
    width: 400px;
    height: 400px;
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(130deg);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    overflow: hidden;
    margin: -300px 0;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    left: 0;
} */

/* .card:hover {
    left: 15%;
} */

.slider_section .slider {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) rotateX(0deg) rotateY(-25deg) rotateZ(-120deg);
    transform-style: preserve-3d;
    transform-origin: center;
}

.slider_section .slider .card {
    position: relative;
    width: 400px;
    min-width: 400px;
    height: 400px;
    overflow: hidden;
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(130deg);
    border: 2px solid rgba(255, 255, 255, 0.25);
    margin: -300px 0;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.slider_section .slider .card:after {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
}

.slider_section .slider .card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.slider_section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



